<mat-card>
  <mat-card-content>

    <div fxLayout="row">
      <mat-form-field>
        <mat-label>Name or Doc#</mat-label>
        <mat-icon matPrefix aria-hidden="false" aria-label="search">search</mat-icon>
        <input matInput type="text">
        <mat-icon matSuffix>arrow_forward</mat-icon>
      </mat-form-field>

      <mat-form-field fxFlex fxFlexOffset="1">
        <mat-label>Remetente</mat-label>
        <input matInput type="text" disabled>
      </mat-form-field>
    </div>

    <div fxLayout="row">
      <mat-form-field fxFlex="222px">
        <mat-label>Doc #</mat-label>
        <input matInput type="text" disabled>
      </mat-form-field>

      <mat-form-field fxFlex fxFlexOffset="1">
        <mat-label>Address</mat-label>
        <input matInput type="text" disabled>
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>
